.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* From Uiverse.io by nawinasokan */
.loaderCon {
    position: relative;
    width: 50%;
    height: 100px;
    overflow: hidden;
}

.pfile {
    position: absolute;
    bottom: 25px;
    width: 40px;
    height: 50px;
    background: linear-gradient(90deg, #b324db, #c5baff);
    border-radius: 4px;
    transform-origin: center;
    animation: flyRight 2s ease-in-out infinite;
    opacity: 0;
}

.pfile::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 28px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
}

.pfile::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 6px;
    width: 18px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
}

@keyframes flyRight {
    0% {
        left: -10%;
        transform: scale(0);
        opacity: 0;
    }

    50% {
        left: 45%;
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        left: 100%;
        transform: scale(0);
        opacity: 0;
    }
}

.pfile {
    animation-delay: calc(var(--i) * 0.4s);
}

@media (min-width: 1000px) {
    .loaderCon {
        width: 25%;
    }
}

@media (max-width: 575px) {
    .loaderCon {
        width: 75%;
    }
}